<div>
 <a class="tablink" (click)="this.router.navigateByUrl('/Dashboard/billingManagement/billing')">Billing</a>
 <a class="tablink" (click)="this.router.navigateByUrl('/Dashboard/billingManagement/clarityFile')">ClarityFile</a>
 <a class="tablink" (click)="this.router.navigateByUrl('/Dashboard/billingManagement/clarityDiscrepancy')">BillingClarityCompare</a>
 <a class="tablink" (click)="this.router.navigateByUrl('/Dashboard/billingManagement/search')">Search</a>
</div>

<br>

<div class="row">
  <div class="col-md-6 progressTexts"> Period
    <select class="inputBox" [(ngModel)]="searchByYear">
      <option *ngFor="let yearname of YearsList" [ngValue]="yearname">{{yearname}} </option>
    </select>
  </div>
  <div class="col-md-6 progressText" *ngIf = "searchByYear!=null"> Filters
    <select class="inputBoxOne" [(ngModel)]="filterName" (ngModelChange)="searchByInput(searchByLocation,filterName,searchByBRM,searchByYear);onChange($event)">
      <option *ngFor="let filterValue of FiltersValues" [ngValue]="filterValue">{{filterValue}} </option>
    </select>
  </div>
  <div class="col-md-6 progressText" *ngIf = "filterName ==='BRMName'"> BRM Search
    <select class="inputBoxOne" [(ngModel)]="searchByBRM" (ngModelChange)="searchByInput(searchByLocation,filterName,searchByBRM,searchByYear);onChange($event)">
      <option *ngFor="let brmName of BrmNamesList" [ngValue]="brmName">{{brmName}} </option>
    </select>
  </div>
  <div class="col-md-6 progressText" *ngIf = "filterName ==='BRMName' && searchByBRM!=null"> Location
    <select class="inputBoxOne" [(ngModel)]="searchByLocation" (ngModelChange)="searchByInput(searchByLocation,filterName,searchByBRM,searchByYear);onChange($event)">
      <option>Onsite</option>
      <option>Offshore</option>
    </select>
  </div>
</div>


<div class="tableDesign" *ngIf="showTable">
  <ng2-smart-table #table [settings]="settings"  allowFiltering='true' allowPaging='true' [source]="data"  (editConfirm)="onSaveConfirm($event)"
    (deleteConfirm)="onDeleteConfirm($event)"   (change)="change($event)"></ng2-smart-table>
</div>

<div>
  <input type="file" formControlName="upload"  #fileInput multiple (change)="uplodFile()"  accept=".xlsx, .xls"
						class="d-none" />
</div>

<div *ngIf="showTable">
  <button class="buttonBox" (click)="upload()">Upload</button>
  <button class="buttonBox" (click)="download(searchByBRM,searchByYear)">Download</button>
  <button class="buttonBox" (click)="updateFreezeInd(searchByBRM,searchByYear)">{{btnFreezeText}}</button>
  <button class="buttonBox" (click)="reset()">Save</button>
</div>
<div>
  <label [ngClass]= "{'lblSuccess': fileUpload, 'lblSuccess': !fileUpload }"  >{{uploadMessage}}</label>
</div>