

<div id="tabs" #tabs>

  <ul class="nav nav-pills">
      <li class="tablink" >
          <a class="nav-link active" href="#biling" [ngClass]="{ 'active':activeTab==='billing'}"  (click)="billingcomponent()"
             data-toggle="tab">billing</a>
        </li>
    <li class="tablink">
      <a class="nav-link active" href="#ClarityFile" [ngClass]="{ 'active':activeTab==='clarityfile'}"  (click)="clarityfilecomponent()"
         data-toggle="tab">ClarityFile</a>
    </li>
    <li class="tablink">
      <a class="nav-link active" href="#BillingClarityCompare" [ngClass]="{ 'active':activeTab==='claritycompare'}" data-toggle="tab">BillingClarityCompare</a>
    </li>
    <li class="tablink">
      <a class="nav-link active" href="#Search" [ngClass]="{ 'active':activeTab==='search'}"  
         data-toggle="tab">Search</a>
    </li>
  </ul>

  <div class="tab-content">
      <div class="tab-pane" id="billing"  [ngClass]="{ 'active':activeTab==='billing'}" >
          <div >
              <app-billing-management></app-billing-management>
          </div>
      </div>
    <div class="tab-pane" id="clarityfile"  [ngClass]="{ 'active':activeTab==='clarityfile'}">
    <div *ngIf= 'loaddownload'>
        <app-clarityfile></app-clarityfile>
    </div>
  </div>
  </div>

</div>
