<div class="topNav"></div>

<div id="tabs" style="border: 1px solid black" #tabs>

  <ul class="nav nav-tabs nav-fill" style="background-color: thistle;" >
    <li class="nav-item">
      <a class="nav-link" href="#biling" [ngClass]="{ 'active':activeTab==='billing'}"
        (click)="billingcomponent()" data-toggle="tab">Billing</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="#ClarityFile" [ngClass]="{ 'active':activeTab==='clarityfile'}"
        (click)="clarityfilecomponent()" data-toggle="tab">Clarity</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" href="#BillingClarityCompare" [ngClass]="{ 'active':activeTab==='claritycompare'}"
        (click)="clarityfilecompare()" data-toggle="tab">Discrepancy</a>
    </li>


    <!-- <li class="nav-item">
      <a class="nav-link active" href="#Search" [ngClass]="{ 'active':activeTab==='search'}"
        data-toggle="tab">Search</a>
    </li> -->

  </ul>
</div>

<div class="tab-content">
  <div class="tab-pane" id="billing" [ngClass]="{ 'active':activeTab==='billing'}">
    <div *ngIf='loadbilling'>
      <app-billing-management></app-billing-management>
    </div>
  </div>
  <div class="tab-pane" id="clarityfile" [ngClass]="{ 'active':activeTab==='billing'}">
    <div *ngIf='loadclarityfile'>
      <app-clarityfile (onCompleteItem)="onCompleteItem($event)"></app-clarityfile>
    </div>
  </div>
  <div class="tab-pane" id="claritycompare" [ngClass]="{ 'active':activeTab==='billing'}">
    <div *ngIf='blclaritycompare'>
      <app-clarity-compare></app-clarity-compare>
    </div>
  </div>
</div>