.topNav {
    height: 48px;
    background-color: #eff2f7;
}

.executiveText {
    display: block;
    color: #8998ac;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.executiveImage {
    height: 635px;
    background-size: cover;
    position: relative;
    background-image: url("../../../../assets/images/dashboard.png");
    padding-top: 0px;
}

progress[value] {
    width: 197px;
    height: 8px;
    margin: 3%;
}

progress {
    background-color: #42e0fc;
}

progress::-moz-progress-bar {
    background-color: #42e0fc;
}

progress::-webkit-progress-value {
    background-color: #42e0fc;
}

progress::-webkit-progress-bar {
    background: #eff2f7;
}

.executiveText a:hover {
    background-color: #f0f3f7;
    color: #3b7cff;
}

.attriationBox {
    width: 275px;
    height: 218px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 10px;
}

.expansionText {
    display: block;
    color: #8998ac;
    text-align: left;
    padding: 7px 8px;
    text-decoration: none;
    font-size: Regular;
}

.expansionHeader {
    display: block;
    color: #3b4859;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'sans-serif';
    font-size: medium;
    font-weight: bold;
    padding-bottom: 3px;
}

.expansionnumber {
    color: #3b7cff;
    font-weight: bold;
}

.attritationnumber {
    color: #ff8f00;
    font-weight: bold;
}

.progressBox {
    width: 275px;
    height: 445px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 2%;
}

.totalassets {
    width: 197px;
    height: 8px;
    background-color: #42e0fc;
    box-shadow: #eff2f7;
}

.monactiveBill {
    width: 197px;
    height: 8px;
    background-color: #ff8f00;
    box-shadow: #eff2f7;
}

.tokens {
    width: 197px;
    height: 8px;
    background-color: #3b7cff;
    box-shadow: #eff2f7;
}

.issueOuts {
    width: 197px;
    height: 8px;
    background-color: #fb745b;
    box-shadow: #eff2f7;
}

.progressText {
    display: block;
    color: #3b4859;
    text-align: left;
    padding: 7px 8px;
    text-decoration: none;
    font-family: "sans-serif";
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 3px;
}

progress[value] {
    width: 197px;
    height: 8px;
    margin: 3%;
}

progress {
    background-color: #42e0fc;
}

progress::-moz-progress-bar {
    background-color: #42e0fc;
}

progress::-webkit-progress-value {
    background-color: #42e0fc;
}

progress.monthlyactiveBill::-webkit-progress-value {
    background: #ff8f00;
}

progress.activeTokes::-webkit-progress-value {
    background: #3b7cff;
}

progress.issuesOutstanding::-webkit-progress-value {
    background: #fb745b;
}

.accountSpending {
    width: 275px;
    height: 445px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 10px;
}

.accountMonthlyGrow {
    width: 570px;
    height: 283px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 10px;
}

.fianceMonitoring {
    width: 570px;
    height: 295px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 10px;
}

.accountSpendingText {
    width: 32px;
    height: 18px;
    font-family: 'sans-serif';
    text-align: left;
    color: #8998ac;
    size: 14px;
    text-align: left;
}

.requirementsBox {
    width: 275px;
    height: 445px;
    background-color: #ffffff;
    box-shadow: #eff2f7;
    border-color: #eff2f7;
    border-style: solid;
    border-width: 0.4px;
    padding: 10px;
}

.center {
    margin: auto;
    width: 60%;
}

.colorBox1 {
    border-left: #39579a;
    width: 12px;
    height: 12px;
    float: left;
}

.colorBox2 {
    border-left: #77efb7;
    width: 12px;
    height: 12px;
    float: right;
}

.colorBoxText {
    display: block;
    color: #8998ac;
    text-align: center;
    padding: 3px 5px;
    text-decoration: none;
    font-size: Regular;
}

@media only screen and (max-width: 768px) {
    .grid-container {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto auto auto auto auto;
        grid-gap: 15px;
        overflow: auto;
        align-self: center;
        vertical-align: middle;
    }
    .item1 {
        grid-column: 1;
        grid-row: 1 / span 3;
    }
    .item2 {
        grid-column: 2;
        grid-row: 1 / span 3;
    }
    .item3 {
        grid-column: 1 span 2;
        grid-row: 4 / span 2;
    }
    .item4 {
        grid-column: 1 span 2;
        grid-row: 6 / span 2;
    }
    .item5 {
        grid-column: 1;
        grid-row: 8;
    }
    .item6 {
        grid-column: 2;
        grid-row: 8;
    }
    .topNav {
        display: none;
    }
}

@media only screen and (min-width: 1200px) {
    .topNav {
        height: 48px;
        background-color: #eff2f7;
    }
    .grid-container {
        display: grid;
        grid-template-columns: auto auto auto auto;
        grid-template-rows: auto auto auto auto auto;
        grid-gap: 15px;
        overflow: auto;
        align-self: center;
        vertical-align: middle;
    }
    .item1 {
        grid-row: 1 / span 3;
        grid-column: 1;
    }
    .item2 {
        grid-row: 1 / span 3;
        grid-column: 2;
    }
    .item3 {
        grid-row: 1 / span 2;
        grid-column: 3 / span 2;
    }
    .item4 {
        grid-row: 4 / span 2;
        grid-column: 1 / span2;
    }
    .item5 {
        grid-row: 3 / span2;
        grid-column: 4;
    }
    .item6 {
        grid-row: 3 / span2;
        grid-column: 3;
    }
}

p {
    font-family: Lato;
}

.centerdiv {
    width: 1000px;
    height: 600px;
    background-color: white;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
    margin: auto;
    padding-top: 10px;
}

.gridDiv1 {
    float: left;
    position: relative;
}

.gridDiv2 {
    width: 100%;
    float: right;
    position: relative;
    border: blue;
    border-radius: 6px;
}

.gridDiv3 {
    width: 50%;
    height: 25%;
    float: left;
    position: relative;
    border: blue;
    border-radius: 6px;
}

.gridDiv4 {
    width: 50%;
    height: 25%;
    float: right;
    border: blue;
    border-radius: 6px;
}

.gridDiv5 {
    width: 50%;
    height: 25%;
    float: left;
    position: relative;
    border: blue;
    border-radius: 6px;
}

.gridDiv6 {
    float: right;
    border: blue;
    border-radius: 6px;
}

.gridDiv7 {
    float: left;
    position: relative;
    border: blue;
    border-radius: 6px;
}

.loader {
    position: absolute;
    left: 50%;
    top: 63%;
    z-index: 1;
    margin: -75px 0 0 -75px;
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #3498db;
    width: 25px;
    height: 25px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.load {
    position: absolute;
    left: 50%;
    top: 70%;
    z-index: 1;
    margin: -90px 0 0 -90px;
    font-style: initial;
    font: outline;
    color: #3498db;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Add animation to "page content" */

.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0px;
        opacity: 1
    }
}

@keyframes animatebottom {
    from {
        bottom: -100px;
        opacity: 0
    }
    to {
        bottom: 0;
        opacity: 1
    }
}

html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    min-height: 100%;
}

.bounds {
    background-color: #84CEEB;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sec1 {
    background: white;
    color: white;
    width: auto
}

.sec2 {
    background: white;
    color: blue;
}

.sec3 {
    background: white;
    color: black;
}

.sec1,
.sec2,
.sec3 {
    padding-top: 20px;
    text-align: center
}

.content {
    min-width: 1275px;
}

.content2 {
    min-width: 1275px;
    padding-top: 10px;
}

.content3 {
    min-width: 500px;
    padding-top: 10px;
}