<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="arrow" *ngIf="DisplayBRMData" (mouseover)="tooltip=true" (mouseleave)="tooltip=false" (click)="tooltip=false;DisplayBRMData = !DisplayBRMData; LoadAccountWiseDetailsChart()" style="cursor: pointer;float:left;">
    <a><img src="{{'../../../assets/images/BackWardArrow.png'}}"></a>
    <span class="checktoolTip" *ngIf="tooltip" style=" background-color: black;color: #fff;text-align: center;position: absolute;z-index: 1;padding: 5px 0;border-radius: 6px;">Account
    Wise DashBoard</span>
</div>
<div class="DropDown" (mouseover)="showDropDown=true" (mouseleave)="showDropDown=false" *ngIf="DisplayBRMData" style="padding-left: 600px;">
    <select class="selectBo" *ngIf="showDropDown" [(ngModel)]="selectedBRM" (ngModelChange)="LoadBRMWiseDetails()">
    <option *ngFor="let brmName of dashBoardMapper.BrmNamesList" [ngValue]="brmName.title">{{brmName.title}}'s DashBoard </option>
  </select>
    <p *ngIf="!showDropDown" style="font-size: 19px;">{{selectedBRM}}'s DashBoard</p>
</div>
<div class="loader" *ngIf="!HasDataLoaded"></div>
<p class="load" *ngIf="!HasDataLoaded">Loading . . .</p>

<div class="gridDiv1" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <ngx-charts-bar-vertical-stacked [showDataLabel]="true" [view]="[700,400]" [scheme]="colorScheme" [results]="dashBoardMapper.HeadCountMappingData" [gradient]="true" [xAxis]="true" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Head Count Data'"
        [barPadding]="100" (select)="onSelect($event)">
    </ngx-charts-bar-vertical-stacked>
</div>
<div class="gridDiv1" *ngIf="HasDataLoaded&&DisplayBRMData">
    <ngx-charts-bar-vertical [view]="[700,400]" [scheme]="colorScheme" [results]="dashBoardMapper.HeadCountMappingData" [gradient]="true" [xAxis]="true" [yAxis]="true" [showGridLines]="true" [showYAxisLabel]="true" [yAxisLabel]="'Head Count Data'" [showDataLabel]="true"
        [barPadding]="300" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
</div>
<div class="gridDiv2" *ngIf="HasDataLoaded">
    <canvas baseChart height="80px" [chartType]="'bar'" [datasets]="dashBoardMapper.LocationWiseData.Values()" [labels]="locationChartLabels" [legend]="true" [options]="locationChartOptions" (chartHover)="chartHovered($event)">
    </canvas>
</div>

<div class="gridDiv3" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <ngx-charts-bar-vertical-2d style="height:225px;" [groupPadding]="10" [showDataLabel]="true" [scheme]="colorScheme" [results]="dashBoardMapper.TraineeData" [gradient]="false" [xAxis]="true" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Trainee Details'"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
</div>
<div class="gridDiv3" *ngIf="HasDataLoaded&&DisplayBRMData">
    <ngx-charts-advanced-pie-chart [view]="[500,200]" [scheme]="colorScheme" [results]="dashBoardMapper.TraineeData" [gradient]="true">
    </ngx-charts-advanced-pie-chart>
</div>
<div class="gridDiv4" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <ngx-charts-bar-vertical-2d style="height:225px;" [groupPadding]="10" [showDataLabel]="true" [scheme]="colorScheme" [results]="dashBoardMapper.BillableTypeData" [gradient]="false" [xAxis]="true" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Billable Type Data'"
        (select)="onSelect($event)">
    </ngx-charts-bar-vertical-2d>
</div>
<div class="gridDiv4" *ngIf="HasDataLoaded&&DisplayBRMData">
    <ngx-charts-bar-vertical style="height:225px;" [scheme]="colorScheme" [results]="dashBoardMapper.BillableTypeData" [gradient]="true" [xAxis]="true" [yAxis]="true" [legend]="false" [showXAxisLabel]="true" [showGridLines]="true" [showYAxisLabel]="true"
        [yAxisLabel]="'Head Count Data'" [showDataLabel]="true" [yScaleMax]="100" [barPadding]="100" (select)="onSelect($event)">
    </ngx-charts-bar-vertical>
</div>
<div class="gridDiv5" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <div style="float: left; padding-left: 30px;">
        <ngx-charts-pie-chart style="height:300px;" [scheme]="colorScheme" [results]="dashBoardMapper.BillableData" [legend]="true" [legendTitle]="'Billable Count'" [doughnut]="true" [legendPosition]="'bottom'">
        </ngx-charts-pie-chart>
    </div>
    <div style="float: right;">
        <ngx-charts-pie-chart style="height:300px;" [scheme]="colorScheme" [results]="dashBoardMapper.NonBillableData" [legend]="true" [legendTitle]="'Non Billable Count'" [doughnut]="true" [legendPosition]="'bottom'">
        </ngx-charts-pie-chart>
    </div>
</div>
<div class="gridDiv5" *ngIf="HasDataLoaded&&DisplayBRMData">
    <div style="float: left; padding-top: 5px;">
        <ngx-charts-pie-chart style="height:55px;" [scheme]="colorScheme" [results]="dashBoardMapper.BillableData" [legend]="true" [legendTitle]="'Billable Details'" [doughnut]="true" [legendPosition]="'right'">
        </ngx-charts-pie-chart>
    </div>
</div>
<div class="gridDiv6" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <ngx-charts-bar-horizontal-2d style="height:225px;" [scheme]="colorScheme" [xAxis]="true" [yAxis]="true" [results]="dashBoardMapper.SeniorJuniorData" [gradient]="true" [showYAxisLabel]="true" [yAxisLabel]="'Senior Junior Ratio'" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal-2d>
</div>
<div class="gridDiv6" *ngIf="HasDataLoaded&&DisplayBRMData">
    <ngx-charts-bar-horizontal style="height:225px;" [scheme]="colorScheme" [xAxis]="true" [yAxis]="true" [results]="dashBoardMapper.SeniorJuniorData" [gradient]="true" [showYAxisLabel]="true" [yAxisLabel]="'Senior Junior Ratio'" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
</div>
<div class="gridDiv7" *ngIf="HasDataLoaded&&!DisplayBRMData">
    <ngx-charts-bar-horizontal style="height:225px;" [showDataLabel]="true" [scheme]="colorScheme" [results]="dashBoardMapper.BADData" [gradient]="true" [xAxis]="true" [yAxis]="true" [showYAxisLabel]="true" [yAxisLabel]="'Business Associate Details'" (select)="onSelect($event)">
    </ngx-charts-bar-horizontal>
</div>
<div class="gridDiv7" *ngIf="HasDataLoaded&&DisplayBRMData">
    <ngx-gauge [type]="'full'" [value]="dashBoardMapper.BADData[0].value" [label]="'BA Count'">
    </ngx-gauge>
</div>