<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<div class="arrow" *ngIf="DisplayBRMData" (mouseover)="tooltip=true" (mouseleave)="tooltip=false" (click)="tooltip=false;DisplayBRMData = !DisplayBRMData; RefreshAccountWiseData()" style="cursor: pointer;float:left;">
    <a><img src="{{'../../../assets/images/BackWardArrow.png'}}"></a>
    <span class="checktoolTip" *ngIf="tooltip" style=" background-color: black;color: #fff;text-align: center;position: absolute;z-index: 1;padding: 5px 0;border-radius: 6px;">Account
    Wise DashBoard</span>
</div>
<div class="DropDown" *ngIf="DisplayBRMData" style="padding-left: 500px;"> BRM Name :
    <select class="selectBo" [(ngModel)]="selectedBRM" (ngModelChange)="loadOtherchartdetails(selectedBRM)">
    <option *ngFor="let brmName of BrmNamesList" [ngValue]="brmName.title">{{brmName.title}} </option>
  </select>
</div>
<br>
<div class="topNav">

    <div class="executiveText" style="text-align: center; padding-left: 10px; padding-top: 10px;">
        <b>Dashboard</b>
    </div>

</div>

<div class="loader" *ngIf="!HasDataLoaded"></div>
<p class="load" *ngIf="!HasDataLoaded">Loading . . .</p>
<div class="gridDiv1">
    <canvas baseChart [datasets]="barChartData" [labels]="mbarChartLabels" [options]="barChartOptions" [colors]="barChartColors" [legend]="barChartLegend" [chartType]="barChartType" (chartClick)="chartClicked($event)"></canvas>
</div>
<div class="gridDiv2" *ngIf="HasDataLoaded">
    <app-exp-doughnutchart #SrJrChart [SrJrRatios]="SrJrRatios" [ColorValues]="ColorValues"></app-exp-doughnutchart>
</div>
<div class="gridDiv3" *ngIf="HasDataLoaded">
    <app-billable-piechart #BillableChart [BillingDetails]="BillingDetails" [ColorValues]="ColorValues">
    </app-billable-piechart>
</div>
<div class="gridDiv4" *ngIf="HasDataLoaded">
    <app-trainee-barchart #TraineeChart [TraineeDetails]="TraineeDetails" [ColorValues]="ColorValues">
    </app-trainee-barchart>
</div>
<div class="gridDiv5" *ngIf="HasDataLoaded">
    <app-ba-horizontalbarchart #BaChart [BACounts]="BACounts" [ColorValues]="ColorValues"></app-ba-horizontalbarchart>
</div>