<br>

<div class="progressText">Search By
  <select class="inputBox" [(ngModel)]="searchBy" >
    <option *ngFor="let search of searchByFilters" [ngValue]="search">{{search}} </option>
  </select>
  <select class="inputBox" [(ngModel)]="searchBySelected" *ngIf="searchBy=='Branch'">
    <option *ngFor="let search of branch" [ngValue]="search">{{search}} </option>
  </select>
  <select class="inputBox" [(ngModel)]="searchBySelected" *ngIf="searchBy=='Type'">
    <option *ngFor="let search of empType" [ngValue]="search">{{search}} </option>
  </select>
  <input class="inputBox" [(ngModel)]="searchString" *ngIf="searchBy=='Name' ||searchBy=='EmployeeID'">
</div>
<div>
  <button class="buttonBox" (click)="submit()">Search</button>
  <button class="buttonBox" (click)="reset()">Reset</button>
</div>
<div *ngIf="showTable">
  <ng2-smart-table [settings]="settings" [source]="data" (custom)="dataRoute($event)" (edit)="onEdit($event)"></ng2-smart-table>
</div>
