::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
.login-dark {
    height: 900px;
    background-size: cover;
    position: relative;
    background-image: url("../../assets/images/BG@2x.png");
    padding-top: 0px;
  }
  
  .login-dark form {
    max-width: 362px;
    width: 90%;
    background-color: #ffffff;
    padding: 0px;
    border-radius: 4px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    box-shadow: 2px 2px 2px rgb(255,255,255);
    max-height: 500px;
    height: 500px;
    padding-top: 30px;
  }
  
  .login-dark .illustration {
    text-align: center;
    font-size: 26px;
    color: black;
    width: 64px;
    height: 36px;
    font-family: 'Open Sans';
    margin: 0px 149px 0px 149px;
  }
  
  .login-dark form .form-control {
    background: none;
    border: 1px solid #C6C9CF;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: black;
    margin-left: 31px;
    margin-right: 31px;
    width: 300px;
    height: 50px;
    font-family: 'Open Sans';
  }
  
  .login-dark form .btn-primary {
    background-image: linear-gradient(250deg,#0053A9,#1DC4E9);;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    margin-left:112px;
    margin-top: 95px;
    margin-bottom: 30px;
    width: 136px;
    height: 50px
  }
  
  .login-dark form .btn-primary:hover, .login-dark form .btn-primary:active {
    background: #214a80;
    outline: none;
  }
  
  .login-dark form .forgot {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }
  
  .login-dark form .forgot:hover, .login-dark form .forgot:active {
    opacity: 1;
    text-decoration: none;
  }
  
  .login-dark form .btn-primary:active {
    transform: translateY(1px);
  }
  
  
.container {
  display: block;
  position: relative;
  margin-left: 31px;
  margin-top: 14px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 12px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container p {
  margin-left:25px;
  width:86px;
  height:17px;
  font-family: 'Open Sans';
  font-size:12px;
  color: black;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  border-radius: 5px;
  background-color: #eee;
}

.container:hover input ~ .checkmark {
  background-color: #ccc;
}

.container input:checked ~ .checkmark {
  background-image:linear-gradient(225deg,#1DE9B6,#1DC4E9);
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 5px;
  top: 2px;
  height: 12px;
  width: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.form-control{
font-family: 'Open Sans';
font-size: 14px;
color:black;
}
.txt1 {
  font-family: 'Open Sans';
  font-size: 12px;
  width:177px;
  height:17px;
  color:#393C40;
  line-height: 1.4;
  align-content: center;
  margin-left:112px; 
  margin-bottom: 10px;
 
}
a{
  color:#393C40;
}
